tag-1 {
    background: url(../images/tag-1.png) no-repeat;
    z-index: 7;
    display: none;
}
.tag-1, #tag-2, #tag-3, #tag-4, #tag-5, #tag-6, #tag-7 {
    position: absolute;
    top: 0;
    left: 0;
    width: 980px;
    height: 622px;
}
div {
    display: block;        
    unicode-bidi: isolate;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height:1.6;
}
a {
    text-decoration: none;
    color: #007;
}
a:hover {
    color: #0056b3;
}
button {
    padding: 10px;
    background-color:  #007bff;
    color:#f4f4f4;
    border:none;

}
button:hover {
    background-color: #0056b3;
}
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}